

#sessions-white-box{
    padding: 0.5rem;
}

.sort-button {
  background-color: transparent;
  border: none;

  padding: 5px 10px;
  margin: 0;
  line-height: 1;
  font-size: 15px;
  color: black;
  cursor: pointer;

  transition: transform 0.05s ease-out;
}

.sort-reverse {
  transform: rotate(180deg);
}


.pie-chart {
    size: 0.5rem;
}