

body {
    font-family: 'Inter', sans-serif;
    background-color: #274651;
    padding: 1.5rem;
}


h1 {
    color: #8DA2C2;
    font-size: 2em;
}

h2 {
    color: #274651;
}

.light-blue-box {
    background-color: #C6CFDC;
}

.light-tan-box {
    background-color: #D9D9D9;
    padding: 1rem;
}

.white-box {
    background-color: #FFF8F8;
}

.box-h2-title {
    margin-top: 0;
}

@font-face {
      font-family: 'Inter';
      src: url('../fonts/Inter-VariableFont.ttf') format('ttf');
    }

form {
    padding: 0.5rem;
    display: grid;
    gap: 0.25rem;
}