.create-session-page {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.upper-sessions-box {
    display: flex;
    gap: 1rem;
    align-items: center; /* <-- makes children the same height */

    flex-direction: column; 
    width: 100%;
    min-width: 0;       /* allow children to shrink */
    // overflow-x: hidden; /* prevent overflow */
}



#pie-chart {
    width: 500px;
    height: 500px;
}