

.pie-filter-box{
    display: flex;
    justify-content: space-between;
}

.filters-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.filters-form-labels {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.details-filters-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
}

.filters-lab-in {
    display: flex;
    flex-direction: column;
}

.delete-edit-button-box{
    display: flex;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#delete-athlete-box{
    flex-direction: column;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pie-info-box{
    display: flex;
    justify-content: space-between;
}