// components/AttendanceList.scss


#attendance-white-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    // width: min-content;
    overflow-x: auto;
}

.attendance-list-box thead th {
    position: static;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
}

#popup-attendance {
    position: fixed;
}