
#logout-button {
    background-color: #8DA2C2;
}

#logout-button:hover {
    background: #C6CFDC;
}

#logout-button:active{
    background: #C6CFDC;
}


.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}