// components/CreateAthleteForm.scss

#create-athlete-profile-button{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.one-column-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* Adds space between grid items */
    max-width: 600px; /* Optional: sets a max width for the form */
    margin: 0 auto; /* Centers the form on the page */
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Stacks label and input vertically */
}

.athlete-create-section {
    display: grid;
    justify-items: center;
}

h3 {
    margin-bottom: 0;
}
.create-athlete-form{
    padding-top: 0;
}

#create-white-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.athlete-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.athlete-search-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.athlete-search-result {
    padding-top: 1rem;
}