// pages/CreateAthletePage.tsx


.create-athlete-page {
  display: flex;
  gap: 1rem;         /* space between form and table */
  flex-direction: row; /* side by side */
  width: 100%;
  min-width: 0;       /* allow children to shrink */
  overflow-x: hidden; /* prevent overflow */
  align-items: flex-end;
}
