.athlete-sessions-box{
    display: grid;
    gap: 1rem;
}

.search-sessions-list-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
    justify-content: flex-end;
}

.athlete-name{
    font-size: 2.3rem;
}

.athlete-info-box{
    h3 {
        margin: 0.25rem;
    }
    display: flex;
    flex-direction: column;
}
