

div.select__control.css-13cymwt-control{
    border-color: rgb(118, 118, 118);
}


div.basic-multi-select.css-b62m3t-container:focus-visible{
     outline-color: #274651;
}

div.css-1f43avz-a11yText-A11yText {
    outline-color: #274651;
}

div.select__control.select__control--is-focused.css-t3ipsp-control {
    border-color: #274651;
    box-shadow: 0 0 0 1px #274651;
}

div.select__option.select__option--is-focused.css-d7l1ni-option {
    background-color: #C6CFDC;
}


// #8DA2C2
// #C6CFDC
// #274651